<div class="grid justify-between border-2 border-black grid-cols-1 gap-3 p-10 ">
    {{ collection:films }}
    <div>
        <a href="{{ url }}" class="flex flex-col items-center bg-white md:flex-row md:max-w-xl hover:bg-gray-100">
            <img class="object-cover w-full h-96 md:h-auto md:w-48" src="{{ poster ?? 'https://placehold.co/150x150' }}" alt=" ">
            <div class="flex flex-col justify-between p-4 leading-normal ">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">{{ title }} ({{ release_date format="Y" }})</h5>
                <div class="flex">
                    <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                        </svg>
                    <p class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">{{ rating }} / 10</p>
                </div>
                <p class="mb-3 font-normal text-gray-700"> {{ description | safe_truncate(140) }}...</p>
            </div>
        </a>
    </div>
    {{ /collection:films }}
</div>